body {
	--font-text-theme: Consolas;
	--bold-color: #ff00ff;
	--italic-color: #ffff00
}

.slider {
	--slider-thumb-radius:5px;
	--slider-track-background: #ff003a;
	--slider-track-height: 1px;
	--slider-thumb-border-width: 1px;
	--slider-thumb-border-color: #aaaaaa;
}

.theme-dark {
	--button-radius: 2px;
	--color-base-00: #000000;
}


/* i was having trouble getting this to work until i removed the two hyphens before the name.
this removes the little icon after external links */
.external-link {
	background-image: unset;
	padding-right: 0px;
	text-decoration: none;
}

/* FILE VIEW FONT */
.nav-file-title-content {
	font-family: Consolas;
	font-weight: 600;
}